{% if is_paginated %}
<nav>
    <ul class="pagination">
    {% for page_num in paginator.page_range %}
        {% if page_num == page_obj.number %}
          <li class="active"><a href="#">{{ page_num }}</a></li>
        {% else %}
          <li><a href="{% url urlname page_num %}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
{% endif %}
