{% extends 'quotes/base.html' %}
{% load humanize %}

{% block page_header %}All Quotes <a href="{% url 'quotes:create' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>{% endblock %}
{% block content %}
    {% if overdue.count %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Important:</strong> <a href="{% url 'quotes:overdue' %}">You have overdue quotes</a>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        {% include 'quotes/partials/quote_list_table.html' %}
      </div>
    <div class="row">
      <div class="col-md-12 pagination-centered text-center">
          {% include 'partials/pagination.html' with urlname='quotes:list' %}
      </div>
    </div>
{% endblock %}
