{% extends 'quotes/base.html' %}
{% load humanize %}

{% block page_header %}Overdue Quote{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
        {% include 'quotes/partials/quote_list_table.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pagination-centered text-center">
          {% include 'partials/pagination.html' with urlname='quotes:list' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
            <a class="btn" href="{% url 'quotes:create' %}">Create</a>
      </div>
    </div>
{% endblock %}
