{% extends 'quotes/base.html' %}
{% load humanize %}

{% block page_header %}PDF View #{{ object.number }} <button data-toggle="modal" data-target="#email-form" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Email</button> <a href="{{ object.get_absolute_pdf_url }}?filename={{ object.number }}.pdf" class="btn btn-primary"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <object data="{{ object.get_absolute_pdf_url }}" type="application/pdf" width="100%" height="800px">
      <a href="{{ object.get_absolute_pdf_url }}">Link to the PDF</a>
    </object>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="email-form">
  <form method="POST">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Send Qutoe</h4>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="email_body">Email Body</label>
              <textarea name="email_body" class="form-control">{{ email_body }}</textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" name="send" class="btn btn-primary" value="Send Email"/>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->
{% endblock %}
