{% extends 'quotes/base.html' %}

{% block page_header %}Update Quote: {{ object.number }}{% endblock %}
{% block content %}
<form method="POST" class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
          {% csrf_token %}
          {{ form }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for formset in inlines %}
                {{ formset.management_form }}
                <div class="row">
                    <div class="cols-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Particular</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Tax %</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item_form in formset %}
                                <tr>
                                    {% for field in item_form %}
                                        {% if field.name == 'quote' or field.name == 'id' %}
                                        {{ field }} {{ field.errors }}
                                        {% else %}
                                            <td>{{ field }}{{ field.errors }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Update"/>
    <a target="_blank" href="{% url 'quotes:convert_to_invoice' object.uuid %}" class="btn btn-info">Convert To Invoice</a>
    <a target="_blank" href="{% url 'quotes:embed_pdf' object.uuid %}" class="btn btn-info">PDF</a>
</form>
{% endblock %}
