{% extends 'customers/base.html' %}

{% block page_header %}Update Customer: {{ object.name }}{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
          <form method="POST" class="form-horizontal">
              {% csrf_token %}
              {{ form }}
              <input class="btn btn-primary" type="submit" value="Update"/>
          </form>
      </div>
  </div>
{% endblock %}
