{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
  <head>
    <link href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/stylesheet.css" %}" rel="stylesheet"/>
    <style>
    </style>
  </head>
  <body>
    <div class="container" style="padding-top: 10px;">
      <div class="row">
        <div class="col-md-12">
        {% with customer=object.customer %}
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td width="15%">BILLED TO:</td>
              <td>{{ customer.name }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{ customer.address1 }}</td>
            </tr>
            {% if customer.address2 %}
            <tr>
              <td></td>
              <td>{{ customer.address2 }}</td>
            </tr>
            {% endif %}
            {% if customer.city or customer.post_code %}
            <tr>
              <td></td>
              <td>{{ customer.city }} {{ customer.post_code }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        {% endwith %}
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead style="display: table-row-group;">
              <tr class="info"><th>Particular</th><th>Unit Price</th><th>Qty</th><th>Subtotal</th></tr>
            </thead>
            <tbody>
              {% for lineitem in object.line_items.all %}
              <tr>
                <td>{{ lineitem.particular }}</td>
                <td><nobr>{% if lineitem.unit_price %}${{ lineitem.unit_price|intcomma }}{% endif %}</nobr></td>
                <td><nobr>{% if lineitem.unit_price %}{{ lineitem.quantity }}{% endif %}</nobr></td>
                <td><nobr>{% if lineitem.unit_price %}${{ lineitem.subtotal|intcomma }}{% endif %}</nobr></td>
              </tr>
              {% endfor %}
              <br/>
              <tr>
                <td colspan="2" style="border-bottom: none; padding-top: 20px; padding-bottom:0px;"></td>
                <td style="border-bottom: none; padding-top: 20px; padding-bottom:0px;">SubTotal</td>
                <td style="border-bottom: none; padding-top: 20px; padding-bottom:0px;">${{ object.total|intcomma }}</td>
              </tr>
              <tr>
                <td style="border: none; padding-top: 0px; padding-bottom:0px;" colspan="2"></td>
                <td style="border: none; padding-top: 0px; padding-bottom:0px;">Tax</td>
                <td style="border: none; padding-top: 0px; padding-bottom:0px; border-bottom: 1px solid #007FC1;">${{ object.tax_amount|intcomma }}</td>
              </tr>
              <tr>
                <td style="border: none; padding-top: 0px; padding-bottom:0px;" colspan="2"></td>
                <td style="border: none; padding-top: 0px; padding-bottom:0px;">Total</td>
                <td style="border: none; padding-top: 0px; padding-bottom:0px; border-bottom: 1px solid #007FC1;">${{ object.total_include_tax|intcomma }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
