{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      .footer {
        border: 1px solid #007FC1;
        font-family: arial;
        font-size: small;
        height: 50px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="footer">
      {{ object.business.invoice_footer_content }}
    </div>
  </body>
</html>
