{% load humanize %}
<table class="table table-striped">
  <thead>
    <tr>
        <th>Number</th><th>From</th><th>To</th><th>Total</th><th>Created</th><th>Expire On</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
        <a href="{{ object.get_absolute_url }}"><span class="label label-primary">{{ object.number }}</span></a>
        {% if object.invalid %}
        <span class="label label-warning">Invalidated</span>
        {% endif %}
        {% if object.is_overdue %}
        <span class="label label-danger">Overdue</span>
        {% endif %}
      </td>
      <td>
        {{ object.business }}
      </td>
      <td>
        {{ object.customer }}
      </td>
      <td>
        ${{ object.total_include_tax|intcomma }}
      </td>
      <td>
        {{ object.created|naturaltime }}
      </td>
      <td>
        {{ object.expire_date|naturalday }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
