<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
<html>
  <head>
    <style>
      body {
        font-family: arial;
      }
      .table {
        width: 100%;
        padding-top: 20px;
        border: none;
        border-collapse: collapse;
        font-size: small;
      }
      .table td {
        padding: 5px 10px 5px 10px;
      }
      .td-left {
        color: white;
        background: #007FC1;
      }
      .td-right {
        color: white;
        background: #005D73;
      }
      .right {
        text-align: right;
      }
    </style>
  </head>
  {% with business=object.business %}
  <body>
    <div>
      <table class="table">
        <tbody>
          <tr>
            <td colspan="3" width="75%" style="padding: 0px;">
              {% if business.logo %}
              {% thumbnail business.logo "x100" as im %}
              <img src="{{ im.url }}"/>
              {% endthumbnail %}
              {% else %}
              <h2>{{ business.name }}</h2>
              {% endif %}
              <strong>{{ business.slogan }}</strong>
            </td>
            <td colspan="1" width="25%" class="right" style="vertical-align: top;"><strong>INVOICE</strong></td>
          </tr>
          <tr>
            <td colspan="2" width="50%"></td>
            <td colspan="2" width="50%" class="right"></td>
          </tr>
          <tr>
            <td class="td-left">{{ business.address1 }}</td>
            <td class="td-left">{% if business.phone %}Ph: {{ business.phone }}{% endif %}</td>
            <td class="td-right">Invoice No:</td>
            <td class="td-right right">{{ object.number }}</td>
          </tr>
          <tr>
            <td class="td-left">{{ business.address2 }}</td>
            <td class="td-left">{% if comopany.fax %}Fax: {{ business.fax }}{% endif %}</td>
            <td class="td-right">Invoice Date:</td>
            <td class="td-right right">{{ object.created|date:"M d, Y" }}</td>
          </tr>
          <tr>
            <td class="td-left">{{ business.city }} {{ business.post_code }}</td>
            <td class="td-left"></td>
            <td class="td-right">{% if business.gst_number %}GST{% endif %}</td>
            <td class="td-right right">{{ business.gst_number }}</td>
          </tr>
          <tr>
            <td class="td-left"></td>
            <td class="td-left"></td>
            <td class="td-right">Due Date:</td>
            <td class="td-right right">{{ object.due_date }}</td>
          </tr>

      </table>
    </div>
  </body>
  {% endwith %}
</html>
