{% extends 'invoices/base.html' %}
{% load humanize %}

{% block page_header %}Overdue Invoices{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
        {% include 'invoices/partials/invoice_list_table.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pagination-centered text-center">
          {% include 'partials/pagination.html' with urlname='invoices:list' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
            <a class="btn" href="{% url 'invoices:create' %}">Create</a>
      </div>
    </div>
{% endblock %}
