{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  <title>{{ project_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}?{{ CACHE_BREAKER}}" rel="stylesheet"/>
    <link href="{% static "css/stylesheet.css" %}?{{ CACHE_BREAKER}}" rel="stylesheet"/>
    <link href="{% static 'vendor/select2/dist/css/select2.min.css' %}?{{ CACHE_BREAKER}}" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row header">
        <div class="col-md-2">
            <a href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo.png' %}"/></a>
        </div>
        <div class="col-md-10">
          <nav class="navbar navbar-default navbar-right">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class=""><a href="{% url 'quotes:list' %}">Quotes<span class="sr-only">(current)</span></a></li>
                  <li class=""><a href="{% url 'invoices:list' %}">Invoices<span class="sr-only">(current)</span></a></li>
                  <li class=""><a href="{% url 'businesses:list' %}">Businesses<span class="sr-only">(current)</span></a></li>
                  <li class=""><a href="{% url 'customers:list' %}">Customers<span class="sr-only">(current)</span></a></li>
                  {% if request.user.is_authenticated %}
                  <li class=""><a href="{% url 'account_logout' %}">Logout<span class="sr-only">(current)</span></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      {% block outer_content %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <div class="page-header">
        <h3>{% block page_header %}{% endblock %}</h3>
      </div>
      {% block content %}{% endblock%}
      {% endblock %}
    </div>
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}?{{ CACHE_BREAKER}}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}?{{ CACHE_BREAKER}}" type="text/javascript"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.min.js' %}?{{ CACHE_BREAKER}}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}?{{ CACHE_BREAKER}}" type="text/javascript"></script>
    {% block bottom_javascript %}{% endblock %}
  </body>
</html>
