{% extends 'businesses/base.html' %}

{% block page_header %}Create A Business{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
          <form method="POST" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              {{ form }}
              <input class="btn btn-primary" type="submit" value="Create"/>
          </form>
      </div>
  </div>
{% endblock %}
