{% extends 'businesses/base.html' %}
{% load humanize %}


{% block page_header %}All Businesses <a href="{% url 'businesses:create' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th><th>Last Invoice</th><th>Issued To</th><th>Issued At</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          {% with last_invoice=object.last_invoice %}
          <tr>
            <td>
              <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            </td>
            <td>
              <a href="{{ last_invoice.get_absolute_url }}"><span class="label label-primary">{{ last_invoice.number }}</span></a>
            </td>
            <td>
              {{ last_invoice.customer }}
            </td>
            <td>
              {{ last_invoice.created|naturaltime }}
            </td>
            <td>
              <a class="btn btn-primary" href="{% url 'invoices:create' %}?business={{ object.id }}">+ Invoice</a>
              <a class="btn btn-primary" href="{% url 'quotes:create' %}?business={{ object.id }}">+ Quote</a>
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-12 pagination-centered text-center">
          {% include 'partials/pagination.html' with urlname='businesses:list' %}
      </div>
    </div>
{% endblock %}
