{% extends 'businesses/base.html' %}
{% load thumbnail %}

{% block page_header %}Update Business: {{ object.name }}{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
          {% if form.errors %}{{ form.errors }}{% endif %}
          <form method="POST" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              {{ form }}
              <input class="btn btn-primary" type="submit" value="Update"/>
          </form>
      </div>
  </div>
{% endblock %}
